* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  background: linear-gradient(to bottom, #1a0033, #4a0080);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.logo img{
  height:60px;
  width: auto;
}
.nav-menu {
  display: flex;
  gap: 30px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 30px;
  border-radius: 50px;
  backdrop-filter: blue(10px);
}
.nav-menu a {
  display: flex;
  gap: 30px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 30px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
}
.nav-menu a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.nav-menu a:first-child{
  background: #a020f0;
  padding: 8px 20px;
  border-radius: 50px;
}
.login-btn{
  background: #a020f0;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius:50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.first{
  text-align:center;
  padding: 100px 20px;
  position: relative;
}
.phrase{
  color: #a020f0;
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  top: 90px;
  right: 100px;
}
.title{
  font-size: 124px;
  font-weight: bold;
  color: #b8b8b8;
  margin: 0;
}
.fest-part{
  background: black;
  border-radius: 50% 50% 0 0 / 150px 150px 0 0;
  padding: 60px 100px 80px 100px;
  margin-top: -30px;
}
.heading{
  text-align: center;
  font-size: 45px;
  color: white;
  margin-bottom: 20px;
}
.heading span{
  color:#a020f0;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.text{
  color: white;
  font-size: 20px;
  max-width: 500px;
}
.info{
  display: flex;
  align-items: center;
  gap: 30px;
}
.dtg{
  background:#a020f0;
  color: white;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  font-size: 45px;
}
.edition{
  color: white;
  text-align: center;
}
.edition p{
  margin: 5px 0;
  font-size: 18px;
}
