* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  background: linear-gradient(to bottom, #1a0033, #4a0080);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.logo img{
  height:60px;
  width: auto;
}
.nav-menu {
  display: flex;
  gap: 30px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 30px;
  border-radius: 50px;
  backdrop-filter: blue(10px);
}
.nav-menu a {
  display: flex;
  gap: 30px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 30px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
}
.nav-menu a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.nav-menu a:first-child{
  background: #a020f0;
  padding: 8px 20px;
  border-radius: 50px;
}
.login-btn{
  background: #a020f0;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius:50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.first{
  text-align:center;
  padding: 100px 20px;
  position: relative;
}
.phrase{
  color: #a020f0;
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  top: 90px;
  right: 100px;
}
.title{
  font-size: 124px;
  font-weight: bold;
  color: #b8b8b8;
  margin: 0;

}